img{
    display: block;
    margin: 0px auto; /*가운데 정렬*/
    height: auto;
}
h1{
    text-align: center;
    font-size: 80px;
}
.footer p{
    text-align: left;
}

p{ 
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    border: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    /* 표(table)의 테두리와 셀(td)의 테두리 사이의 간격을 없앱니다. 겹치는 부분은 한 줄로 나타냅니다 */
    padding: 6px;
    text-align:center;
}

th{
    width: 70px;
}

table{
    margin:0 auto;
    margin-top: 30px;
    width: 80%;
    clear: both;
}



/*리뷰와 평점 만들기*/
#myform fieldset{
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
    /* 컨텐츠를 감쌀 정도의 크기를 갖고 있지만 임의로 크기 변경 가능 */
    direction: rtl; /*글자 방향 지정 ltr : left to right, rtl : right to left*/
    border: 20px;
}
/* #myform fieldset legend{
    text-align: right;
} */
#myform input[type=radio]{
    display: none;
}
#myform label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#myform label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#reviewContents {
    margin-left: 150px;
    margin-right: 150px;
    width: 80%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}