h1 {
    text-align:center;
}
h1 a {
    text-decoration:none;
    color:black;
}
table {
    width:50%;
    margin:auto;
    border-collapse:collapse;

}
tr td {
    height:70px;
    border-bottom:1px solid lightgray;
}
input {
    width:30%;
    height:50%;
}
/* 뒤로 옆에 가입 버튼 */
.mod {
    width:44px;
    height:24px;
}
.button {
    text-align:center;
}
input[type="checkbox"] {
    width: 30px;
    height: 30px;
}